extends html, javascript, javascriptreact

snippet rtcp "Typecript React Component"
${1:import { FC } from 'react'}

${7:type $3PropType = {
	${8:key}: ${9:value}
}}

${2:export }const $3: FC${4:<${5:$3PropType}>} = (${6:props}) => (
	${11:<div>$0</div>}
)${10:

export default $3
}

endsnippet

