[include]
  path = ~/.gitconfig.local

[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = nvim
	attributesfile = ~/.gitattributes

[column]
   ui = auto

[branch]
   sort = -committerdate

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[credential]
  helper = osxkeychain

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[merge]
  tool = vimdiff
  ff = false

[diff]
  tool = vimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[tag]
  sort = version:refname

[commit]
	gpgsign = true
  verbose = true

[gpg]
	program = /opt/homebrew/bin/gpg
	format = ssh

[pull]
  rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
  defaultBranch = main

[delta]
  minus-style                   = syntax "#37222c"
  minus-non-emph-style          = syntax "#37222c"
  minus-emph-style              = syntax "#713137"
  minus-empty-line-marker-style = syntax "#37222c"
  line-numbers-minus-style      = "#c25d64"
  plus-style                    = syntax "#20303b"
  plus-non-emph-style           = syntax "#20303b"
  plus-emph-style               = syntax "#2c5a66"
  plus-empty-line-marker-style  = syntax "#20303b"
  line-numbers-plus-style       = "#399a96"
  line-numbers-zero-style       = "#3b4261"

[help]
  autocorrect = prompt

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[alias]
	diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"

[diff "image"]
	command = ~/Desktop/git-diff-image/git_diff_image
